@import "CommonStyles.module";
.accordionBody {
  padding: 15px;
  background-color: var(--setting-group-body-bg-color);
  border-radius: 0 0 7px 7px;
  border-top: 1px solid var(--setting-group-button-border-bottom);
}

.accordionIcon {
  svg {
    transition: transform 0.3s ease-in-out; // Add a transition to the transform property
    font-size: 20px;
  }
}

.rotate {
  svg {
    transform: rotate(90deg); // Rotate the icon when the accordion is expanded
  }
}
.accordionButton {
  display: flex;
  color: var(--setting-group-title-color);
  font-weight: normal;
  font-size: 0.8rem;
  align-items: initial;
  justify-content: space-between;
  background-color: var(--setting-group-body-bg-color);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--setting-group-border-color);
  outline: none;
}

.accordionBody {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.expanded {
  height: auto;
  transition: height 0.3s ease-in-out;
}
