.templateThumbnail {
  height: 150px;
  background-color: var(--template-thumb-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--thumbnail-text-color);
  cursor: pointer;
  &:hover {
    background-color: var(--template-thumb-hover-bg);
    transition: 0.3s;
    color: var(--thumbnail-hover-text-color);
  }
  &.active{
    background-color: var(--template-thumb-active-bg);
  }
}
