.templateList {
  width: 100%;
  height: 100%;
}
.templatesContainer {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.templatePreview {
  width: 150px;
  height: 150px;
  padding: 1em;
  background-color: #1c1c1c;
  margin: 8px;
}
