.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  
    label {
      font-weight: normal;
      font-size: .8rem;
      color: var(--settings-label-color);
      margin-bottom: 10px;
    }
    input,
    textarea {
      height: 30px;
      background-color: var(--input-bg);
      border-radius: 4px;
      font-size: 14px;
      margin-top: 4px;
      outline: none;
      padding: .5rem 1rem;
      border-radius: 4px;
      border: 1px solid var(--input-border-color);
      color: var(--input-color);
    }
  }
  
  