/* ImageFormField.module.scss */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  label {
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--dark-text-color-2);
    margin-bottom: 10px;
  }

  .uploadContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .uploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-bg);
    color: var(--input-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .uploadIcon {
    margin-right: 8px;
  }

  .fileInput {
    display: none;
  }

  .filePreview {
    margin-top: 10px;

    .previewImage {
      width: 90px;
      max-height: 50px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
