.editorPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftSidebarWrapper {
  width: 30%;
  background-color: #1c2026;
}

.workspaceWrapper {
  width: 75%;
  background-color: #1c1c1c;
}