.editorPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftSidebarWrapper {
  width: 30%;
  background-color: var(--left-sidebar-bg);
  border-right: 1px solid var(--layout-border-color);
}

.workspaceWrapper {
  width: 75%;
  background-color: var(--workspace-bg);
}