$primary: #3525df;
$body-color: #D7D7E7;

// TODO: Gonna make it dynamic

$dark-color-1: #161b22;
$dark-color-2: #020202;
$dark-color-3: #161b22; //tabs
$dark-text-color-1: #87879f;
$dark-text-color-2: #D7D7E7;
$dark-text-color-3: white;
$dark-text-color-4: #ffffff17;

$primary-color: #3525df;
$light-color-1: #f5f7fa;
$light-color-2: #e4e7eb;
$light-color-3: #cdd4da;
$tabs-bg: #cdd4da;
$tabs-icons-color: #8b949e;
$tabs-icons-active-color: #64707d;
$template-thumb-hover-bg: #e4e7eb;
$template-thumb-bg: #cdd4da;
$light-text-color-1: #8b949e;
$light-text-color-2: #64707d;
$light-text-color-3: #cdd4da;
$light-text-color-4: #f5f7fa;
$workspace-bg: #ffffff;
$post-review-bg: #f5f7fa;
$left-sidebar-bg: #f5f7fa;
$layout-border-color: #cdd4da;
$input-border-color: #e4e7eb;
$input-bg: #ffffff;
$input-color: #64707d;

//tooltip
$rt-color-white: #fff;
$rt-color-light: #e4e7eb;
