$primary: #3525df;
$body-color: #D7D7E7;

// TODO: Gonna make it dynamic
//Dark Theme
/*$dark-color-1: #1b1f3c;
$dark-color-2: #14152E;
$dark-color-3: #252D47;
$dark-text-color-1: #87879f;
$dark-text-color-2: #D7D7E7;
$dark-text-color-3: white;
$dark-text-color-4: #ffffff17;*/

$dark-color-1: #161b22;
$dark-color-2: #020202;
$dark-color-3: #161b22; //tabs
$dark-text-color-1: #87879f;
$dark-text-color-2: #D7D7E7;
$dark-text-color-3: white;
$dark-text-color-4: #ffffff17;