$color-scheme: (
        dark: (
                primary: #3525df,
                dark-primary: #2415bc,
                tabs-bg: #161b22,
                tabs-icons-color: #8b949e,
                tabs-icons-active-color: #D7D7E7,
                template-thumb-hover-bg: #020202,
                template-thumb-active-bg: #354ca8,
                template-thumb-bg: #161b22,
                template-thumb-text-color: #D7D7E7,
                template-thumb-hover-text-color: #D7D7E7,
                template-thumb-active-border: #7f7ffb,
                settings-label-color: #D7D7E7,
                loader-color: #D7D7E7,
                loader-bg: #7f7ffb14,
                workspace-bg: #010409,
                post-review-bg: #161b22,
                post-review-border-color: #21262d,
                left-sidebar-bg: #0d1117,
                layout-border-color: #21262d,
                input-border-color: #30363d,
                input-bg: #010409,
                input-color: #c9d1d9,
                button-color: #D7D7E7,
                tabs-section-title-color: #D7D7E7,
                appearance-mode-active-border-color: #7f7ffb,
                appearance-mode-border-color: #21262d,
                appearance-mode-body-bg-color: #161b22,
                appearance-mode-body-color: #D7D7E7,
                scrollbar-bg-color: #161b22,
                fields-group-bg-color: #161b22,
                setting-group-border-color: #30363d,
                setting-group-title-color: #D7D7E7,
                setting-group-body-bg-color: #010409,
                setting-group-button-border-bottom: #21262d,
                rt-color-white: #fff,
                rt-color-dark: #020202
        ),
        light: (
                primary: #7f7ffb,
                dark-primary: #4d4dda,
                tabs-bg: #f1f5fe,
                tabs-icons-color: #8b949e,
                tabs-icons-active-color: #64707d,
                template-thumb-hover-bg: #eff2fb,
                template-thumb-active-bg: #354ca8,
                template-thumb-bg: #e4eaef,
                template-thumb-text-color: #1e345e,
                template-thumb-hover-text-color: #1e345e,
                template-thumb-active-border: #7f7ffb,
                settings-label-color: #1e345e,
                loader-color: #7f7ffb,
                loader-bg: #7f7ffb14,
                workspace-bg: #eff2fb,
                post-review-bg: #f5f8fb,
                post-review-border-color: transparent,
                left-sidebar-bg: #f5f8fb,
                layout-border-color: #e9eaeb,
                input-border-color: #e0e6ef,
                input-bg: #eceff4,
                input-color: #1e345e,
                button-color: #ffffff,
                tabs-section-title-color: #1e345e,
                appearance-mode-active-border-color: #7f7ffb,
                appearance-mode-border-color: #cdd4da,
                appearance-mode-body-bg-color: #ffffff,
                appearance-mode-body-color: #64707d,
                scrollbar-bg-color: #eeeeee,
                fields-group-bg-color: #161b22,
                setting-group-title-color: #1e345e,
                setting-group-body-bg-color: #eceff4,
                setting-group-button-border-bottom: #e9eaeb,
                rt-color-white: #1e345e,
                rt-color-dark: #fff
        )
) !default;

$color-scheme: map-merge($color-scheme, $color-overrides) !default;
//TODO test this