.artBoard {
  max-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artBoardInner {

}
.templateTitle {
  margin-bottom: 1rem;
  font-size: .9rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--tabs-section-title-color);
}