.sectionTitle {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--tabs-section-title-color);
}

.templateList {
  height: 100vh;
  overflow: scroll;
  padding: 0 20px;
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--left-sidebar-bg);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--tabs-bg);
    border-radius: 5px;
    transition: .4s all ease;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: .4s all ease;

  }
}
.templatesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Set 2 columns with equal width */
  grid-gap: 10px; /* Add some gap between the items */
}
