.themeModeInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  background-color: var(--appearance-mode-body-bg-color);
  border: 1px solid var(--appearance-mode-border-color);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.3s ease;
  padding: 4px;
  label {
    width: 100%;
    border-radius: 6px;  
    cursor: pointer;
  }
}

.themeModeInput.active {
  border-color: var(--appearance-mode-active-border-color);
}

.themeModeInput:hover {
  border-color: var(--appearance-mode-active-border-color);
}

.themeThumbnail {
  width: 100%;
  height: auto;
  border-radius: 6px;

}
.themeModeInputHeader {
  width: 100%;
}
.themeModeInputBody {
  padding: .8rem .5rem;
  background-color: var(--appearance-mode-body-bg-color);
  display: flex;
  gap: 5px;
}
.themeName {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--appearance-mode-body-color);
}
