
.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
}

.formTitle {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.button {
  background-color: var(--primary);
  color: var(--dark-text-color-2);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.button:hover {
  background-color: var(--primary);
}
