.leftSidebar {
  width: 100%;
  height: 100%;

  .tabContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .tabList {
    display: flex;
    background-color: var(--dark-color-3);
    margin-top: 0;
    gap: 5px;
    justify-content: center;
    padding: 0;
  }

  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-text-color-1);
    font-size: 12px;
    justify-content: center;
    outline: none;
    flex: auto;
    flex-basis: 33.33%;

    padding: 2rem 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &.active {
      color: var(--dark-text-color-2);
      border-bottom: 4px solid var(--primary);
    }
    &:hover {
      color: var(--dark-text-color-2);
    }
  }

  .tabIcon {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    outline: none;
  }

  .tabPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #1a1c20;
    color: #fff;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }
}
